<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property name="defaultPattern"
			  value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n"/>

	<appender name="STDOUT"
			  class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/.pdfzoomwizard/log.txt</file>
		<append>false</append>
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<root>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>

</configuration>
